[bg]
type=rect
x=1
y=1
width=512
height=334
fill=yes
colour=0x352D1E

[title]
type=text
x=130
y=8
width=252
height=16
center=yes
font=b12_full
shadowed=yes
text=Relics
colour=0xFF981F

[close]
type=text
x=427
y=7
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
colour=0x81704F
overcolour=0xB69E6F

[to_tasks]
type=text
x=340
y=7
buttontype=normal
width=80
height=14
font=p12_full
shadowed=yes
text=Tasks >
colour=0xFF981F
overcolour=0xFFFFFF

[xp]
type=text
x=14
y=28
width=300
height=14
font=p12_full
shadowed=yes
text=XP rate
colour=0xFFFF00

[pending]
type=text
x=14
y=44
width=240
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[choose_box]
type=layer
x=262
y=44
width=240
height=14

[choose]
layer=choose_box
type=text
x=0
y=0
buttontype=normal
width=240
height=14
font=p12_full
shadowed=yes
text=Choose a relic now
colour=0x00FF00
overcolour=0xFFFFFF

[unlocked_title]
type=text
x=8
y=64
width=246
height=14
font=p12_full
shadowed=yes
text=Unlocked relics
colour=0x00FF00

[available_title]
type=text
x=260
y=64
width=246
height=14
font=p12_full
shadowed=yes
text=Not yet unlocked
colour=0xFFFF00

[unlocked_1]
type=text
x=8
y=80
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_2]
type=text
x=8
y=92
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_3]
type=text
x=8
y=104
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_4]
type=text
x=8
y=116
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_5]
type=text
x=8
y=128
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_6]
type=text
x=8
y=140
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_7]
type=text
x=8
y=152
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_8]
type=text
x=8
y=164
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_9]
type=text
x=8
y=176
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_10]
type=text
x=8
y=188
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_11]
type=text
x=8
y=200
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_12]
type=text
x=8
y=212
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_13]
type=text
x=8
y=224
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_14]
type=text
x=8
y=236
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_15]
type=text
x=8
y=248
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_16]
type=text
x=8
y=260
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_17]
type=text
x=8
y=272
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_18]
type=text
x=8
y=284
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[unlocked_19]
type=text
x=8
y=296
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_1]
type=text
x=260
y=80
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_2]
type=text
x=260
y=92
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_3]
type=text
x=260
y=104
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_4]
type=text
x=260
y=116
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_5]
type=text
x=260
y=128
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_6]
type=text
x=260
y=140
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_7]
type=text
x=260
y=152
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_8]
type=text
x=260
y=164
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_9]
type=text
x=260
y=176
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_10]
type=text
x=260
y=188
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_11]
type=text
x=260
y=200
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_12]
type=text
x=260
y=212
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_13]
type=text
x=260
y=224
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_14]
type=text
x=260
y=236
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_15]
type=text
x=260
y=248
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_16]
type=text
x=260
y=260
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_17]
type=text
x=260
y=272
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_18]
type=text
x=260
y=284
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF

[available_19]
type=text
x=260
y=296
width=250
height=12
font=p11_full
shadowed=yes
text=
colour=0xFFFFFF
