[bg]
type=rect
x=1
y=1
width=512
height=334
fill=yes
colour=0x352D1E

[title]
type=text
x=130
y=8
width=252
height=16
center=yes
font=b12_full
shadowed=yes
text=Relic Tasks
colour=0xFF981F

[close]
type=text
x=427
y=7
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
colour=0x81704F
overcolour=0xB69E6F

[to_relics]
type=text
x=340
y=7
buttontype=normal
width=80
height=14
font=p12_full
shadowed=yes
text=Relics >
colour=0xFF981F
overcolour=0xFFFFFF

[summary]
type=text
x=14
y=30
width=240
height=14
font=p12_full
shadowed=yes
text=Tasks done
colour=0xFFFF00

[toggle]
type=text
x=262
y=30
buttontype=normal
width=240
height=14
font=p12_full
shadowed=yes
text=Hide completed: Off
colour=0xFFFF00
overcolour=0xFFFFFF

[list]
type=layer
x=8
y=50
width=496
height=276
scroll=358

[row_1]
layer=list
type=text
x=6
y=4
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_2]
layer=list
type=text
x=6
y=18
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_3]
layer=list
type=text
x=6
y=32
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_4]
layer=list
type=text
x=6
y=46
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_5]
layer=list
type=text
x=6
y=60
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_6]
layer=list
type=text
x=6
y=74
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_7]
layer=list
type=text
x=6
y=88
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_8]
layer=list
type=text
x=6
y=102
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_9]
layer=list
type=text
x=6
y=116
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_10]
layer=list
type=text
x=6
y=130
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_11]
layer=list
type=text
x=6
y=144
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_12]
layer=list
type=text
x=6
y=158
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_13]
layer=list
type=text
x=6
y=172
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_14]
layer=list
type=text
x=6
y=186
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_15]
layer=list
type=text
x=6
y=200
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_16]
layer=list
type=text
x=6
y=214
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_17]
layer=list
type=text
x=6
y=228
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_18]
layer=list
type=text
x=6
y=242
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_19]
layer=list
type=text
x=6
y=256
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_20]
layer=list
type=text
x=6
y=270
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_21]
layer=list
type=text
x=6
y=284
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_22]
layer=list
type=text
x=6
y=298
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_23]
layer=list
type=text
x=6
y=312
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_24]
layer=list
type=text
x=6
y=326
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row_25]
layer=list
type=text
x=6
y=340
width=470
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF
