[submodule "Engine-TS"]
	path = Engine-TS
	url = https://github.com/calum/Engine-TS.git
[submodule "Content"]
	path = Content
	url = https://github.com/calum/Content.git
[submodule "Client-TS"]
	path = Client-TS
	url = https://github.com/calum/Client-TS.git
[submodule "RuneScriptTS"]
	path = RuneScriptTS
	url = https://github.com/calum/RuneScriptTS.git
[submodule "Server"]
	path = Server
	url = https://github.com/calum/Server.git
