[submodule "Engine-TS"]
	path = Engine-TS
	url = https://github.com/LostCityRS/Engine-TS.git
[submodule "Content"]
	path = Content
	url = https://github.com/LostCityRS/Content.git
[submodule "Client-TS"]
	path = Client-TS
	url = https://github.com/LostCityRS/Client-TS.git
[submodule "RuneScriptTS"]
	path = RuneScriptTS
	url = https://github.com/LostCityRS/RuneScriptTS.git
[submodule "Server"]
	path = Server
	url = https://github.com/LostCityRS/Server.git
